<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name ="/use_sim_time" value="true"/>
    <arg name="model" default="robot"/>
    <arg name="number" default="0"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.01"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <!-- SPAWN ROBOT -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find ril_agv_simulator)/urdf/$(arg model).xacro' number:=$(arg number)"/>
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg number) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    <!-- Robot state publisher--> -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="use_tf_static" value="false"/>
        <param name="tf_prefix" value="robot_$(arg number)"/>
    </node-->
</launch>

